#container{
  height: 100%;
  border-radius: 25px;
  background-color: #f5fdff03;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 50px #e5e5e5;
  display: flex;
}
#categories{
  max-width: 900px;
  height: 100%;
  color: black;
  border-radius: 25px;
  bottom: 2%;
  left: 8%;
  overflow-x: scroll;
  display: flex;
}

.category {
  font-size: 10px;
  border-radius: 27px;
  margin-top: 7%;
  height: 70%;
  margin-left: 18px;
  width: 154px;
  color: #22969d;
  text-align: center;
  background-color: #f5fdff;
  display: flex;
  cursor: pointer;
}
.category-select{
  background-color: #d7eaef;
  border: #00acc1 solid 2px;
}
.imag {

}
.imag-real {
  height: 37px;
  width: 38px;
  border-radius: 15px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 20%;
}
.text{
  margin-top: 11%;
  margin-right: 12%;
  font-size: 13px;
  font-weight: bold;
}

.more{
  height: 65%;
  width: 5%;
  font-family: emoji;
  background-color: #4ba5d7;
  border-radius: 17px;
  margin: 1.3% 15px 0 20px;
  cursor: pointer;
  color: #d5f0ff;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.more:hover{
  background-color: #347da6;
  color: white;
}
