<nz-layout class="app-layout">
  <nz-sider *ngIf="!logged()" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
<!--        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
        <h1>Alaman Cpanel</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li (click)="checkRoute()" *ngFor="let siteItem of sideBarList" nz-menu-item>
        <span nz-icon [nzType]="siteItem.icon"></span>
        <span [className]="siteItem.title == 'POS'?'en-font':''">{{siteItem.title}}</span>
        <a [routerLink]="siteItem.router+'/'+siteItem.index"></a>
      </li>
    </ul>
    <button (click)="authService.logout()" nz-button nzType="text" nzDanger>
      <span nz-icon nzType="logout"></span>
      <span *ngIf="getRoute() != '/pos/3'">تسجل خروج</span>
    </button>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="getRoute() != '/pos/3' && !logged()">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div [class]="getRoute() == '/pos/3'?'inner-content-pos':'inner-content'">
         <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
