<div class="flex">
  <app-profile [user]="user"/>
  <nz-divider nzType="vertical"></nz-divider>
  <div class="card-container">
    <nz-tabset nzType="card">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <span nz-icon [nzType]="tab.icon"></span>
          {{ tab.name }}
        </ng-template>
<!--        <app-user-info [user]="user" *ngIf="tab.component == 'user_info'"/>-->
<!--        <app-user-info [user]="user" *ngIf="tab.component == 'courses'"/>-->
<!--        <app-table-data *ngIf="tab.component == 'courses'" [foreignId]="docId"/>-->
      </nz-tab>
    </nz-tabset>
  </div>
</div>
