<div>
    <input #input *ngIf="header.type == ''"
           [placeholder]="value == undefined?0:''"
           [formControlName] = "keyItem"
           type="text" nzSize="large" nz-input
    />
   <input *ngIf="header.type == 'list'"
           [placeholder]="value == undefined?0:''"
           type="text" nzSize="large" nz-input
           [formControlName] = "keyItem"
    />
          <nz-select
              *ngIf="header.type == 'tag' || header.type == 'fill_tag' || header.type == 'online_list'"
              nzSize="large"
              [formControlName] = "keyItem"
            >
<!--                       nzValue="{{this.header.type == 'online_list'?item.doc_id:item.value}}"-->
            <nz-option *ngFor="let item of getChoicesList()"
                       nzValue="{{this.header.type == 'online_list'?item.doc_id:item.value}}"
                       nzLabel="{{item.name}}"
            ></nz-option>
          </nz-select>
</div>

