<button nz-button (click)="checkEditing()?saveEdit(editingObject.recordId):
tableData.modelAddType?showModal():addRow()"
        nzType="primary">
  {{checkEditing()?"تحديث":"اضافة جديد"}}
  <span nz-icon nzType="{{checkEditing()?'edit':'plus'}}" nzTheme="outline"
        style="font-size: 16px;color: #ffffff;"></span>
</button>
<br />
<br />
<nz-table #editRowTable nzBordered [nzData]="listOfData" [nzPageSize]="10" [nzScroll]="{ y: '700px' }">
  <thead>
  <tr>
    <th *ngFor="let item of tableData.headers">
      {{item.name}}
    </th>
    <th>اجراء</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfData">
    <ng-container *ngIf="!editCache[data.doc_id!].edit; else editTemplate">
      <td (dblclick)="startEdit(data.doc_id)" *ngFor="let keyItem of keysEditModel; let i = index">
        <app-data-show-type
          [header]="tableData.headers![i]"
          [value]="data[keyItem]"
          [record]="data"
        />
      </td>
      <td>
        <a *ngIf="tableData.router!.second" [routerLink]="tableData.router!.second+'/'+data.doc_id">
          <span nz-icon nzType="eye" nzTheme="outline" style="font-size: 18px;color: #808080FF"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="startEdit(data.doc_id!)">
          <span nz-icon nzType="edit" nzTheme="fill" style="font-size: 18px;"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteRow(data.doc_id!)">
          <span nz-icon nzType="delete" nzTheme="fill" style="font-size: 18px; color: #ff0000;"></span>
        </a>
      </td>
    </ng-container>
    <ng-template #editTemplate>
      <td *ngFor="let keyItem of keysEditModel; let i = index">
        <form [formGroup]="form" (ngSubmit)="saveEdit(editingObject.recordId)">
          <app-data-edit-type
            [header]="tableData.headers![i]"
            [value]="editCache[data.doc_id!].data[keyItem]"
            [keyItem]="keyItem"
          ></app-data-edit-type>
        </form>
      </td>
      <td>
        <a nz-popconfirm="m" nzPopconfirmTitle="الغاء التعديل؟" (nzOnConfirm)="cancelEdit(data.doc_id!)">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </a>
      </td>
    </ng-template>
  </tr>
  </tbody>
</nz-table>
<br />

<nz-modal [(nzVisible)]="isVisible" nzTitle="سجل جديد" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item *ngFor="let keyItem of keysEditModel; let i = index">
        <nz-form-label [nzSpan]="5" nzRequired nzFor="{{keyItem}}">{{tableData.headers![i].name}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your username!">
          <app-data-edit-type
            [header]="tableData.headers![i]"
            [value]="editingObject.recordId?
            editCache[editingObject.recordId].data[keyItem]:''"
            [keyItem]="keyItem"
          ></app-data-edit-type>
        </nz-form-control>
      </nz-form-item>
      <!--      <nz-form-item>-->
      <!--        <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Gender</nz-form-label>-->
      <!--        <nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">-->
      <!--          <nz-select-->
      <!--            id="gender"-->
      <!--            formControlName="gender"-->
      <!--            nzPlaceHolder="Select a option and change input text above"-->
      <!--          >-->
      <!--            <nz-option nzValue="male" nzLabel="male"></nz-option>-->
      <!--            <nz-option nzValue="female" nzLabel="female"></nz-option>-->
      <!--          </nz-select>-->
      <!--        </nz-form-control>-->
      <!--      </nz-form-item>-->
      <!--      <nz-form-item>-->
      <!--        <nz-form-control [nzSpan]="12" [nzOffset]="5">-->
      <!--          <button nz-button nzType="primary">Submit</button>-->
      <!--        </nz-form-control>-->
      <!--      </nz-form-item>-->
    </form>
  </ng-container>
</nz-modal>
