<button nz-button (click)="checkEditing()?saveEdit(editingObject.recordId):addRow()"
        nzType="primary">
  {{checkEditing()?"تحديث":"اضافة جديد"}}
  <span nz-icon nzType="{{checkEditing()?'edit':'plus'}}" nzTheme="outline"
        style="font-size: 16px;color: #ffffff;"></span>
</button>
<br />
<br />
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
  <tr>
    <th *ngFor="let item of tableData.headers">
      {{item.name}}
    </th>
    <th>اجراء</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfData">
    <ng-container *ngIf="!editCache[data.doc_id!].edit; else editTemplate">
      <td (dblclick)="startEdit(data.doc_id)" *ngFor="let keyItem of keysEditModel; let i = index">
        <app-data-show-type
          [header]="tableData.headers![i]"
          [value]="data[keyItem]"
          [record]="data"
        />
      </td>
      <td>
        <a *ngIf="tableData.router!.second" [routerLink]="tableData.router!.second+'/'+data.doc_id">
          <span nz-icon nzType="eye" nzTheme="outline" style="font-size: 18px;color: gray"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="startEdit(data.doc_id!)">
          <span nz-icon nzType="edit" nzTheme="fill" style="font-size: 18px;"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteRow(data.doc_id!)">
          <span nz-icon nzType="delete" nzTheme="fill" style="font-size: 18px; color: #ff0000;"></span>
        </a>
      </td>
    </ng-container>
    <ng-template #editTemplate>
      <td *ngFor="let keyItem of keysEditModel; let i = index">
        <form [formGroup]="form" (ngSubmit)="saveEdit(editingObject.recordId)">
          <app-data-edit-type
            [header]="tableData.headers![i]"
            [value]="editCache[data.doc_id!].data[keyItem]"
            [keyItem]="keyItem"
          ></app-data-edit-type>
        </form>
      </td>
      <td>
        <a nz-popconfirm="m" nzPopconfirmTitle="الغاء التعديل؟" (nzOnConfirm)="cancelEdit(data.doc_id!)">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </a>
      </td>
    </ng-template>
  </tr>
  </tbody>
</nz-table>
<br />
