.flex{
  display: flex;
}
.w-100{
  width: 100%
}
.w-50{
  width: 50%
}

nz-divider{
  margin: 11px 0
}

.mt-5{
  margin-top: 5%;
}
.mt-10{
  margin-top: 10%;
}
.mb-5{
  margin-bottom: 5%;
}
.mb-10{
  margin-bottom: 10%;
}
